.restaurants__container {
	display: flex;
	flex-direction: column;
	padding: 40px;
	background-color: $darker_grey;
	gap: 20px;
	z-index: 0;
	> h2 {
		margin: 0;
	}
	> a {
		text-decoration: none;
	}
	&--restaurant {
		display: flex;
		background-color: $light_grey;
		border-radius: 20px;
		text-decoration: none;
		color: $almost_black;
		width: 100%;
		> figure {
			padding: 0 0 10px 0;
			margin: 0;
			position: relative;
			> img {
				width: 100%;
				object-fit: cover;
				border-radius: 20px 20px 0 0;
			}
			> figcaption {
				display: flex;
				flex-direction: column;
				align-items: start;
				padding: 10px 20px;
				position: relative;
				gap: 5px;
				> h2 {
					margin: 0;
					padding: 0;
					font-size: 20px;
					font-weight: bold;
				}
				> p {
					margin: 0;
					padding: 0;
					font-size: 14px;
					font-weight: bold;
				}
			}
			> h3 {
				position: absolute;
				top: 10px;
				right: 10px;
				background-color: $tertiary;
				color: $tertiary_darker;
				padding: 5px 25px;
				margin: 5px 0;
				font-size: 14px;
			}
			> i {
				display: flex;
				position: absolute;
				font-size: 24px;
				right: 30px;
				bottom: 30px;
				z-index: 10;

				&:active,
				&:hover,
				&:focus {
					cursor: pointer;
					color: transparent;
					background: linear-gradient(200deg, $primary, $secondary);
					background-clip: text;
					-webkit-background-clip: text;
				}
			}
		}
	}
}
