.restaurants__container {
	display: flex;
	flex-direction: column;
	padding: 20px;
	background-color: $darker_grey;
	gap: 20px;
	&--restaurant {
		display: flex;
		background-color: $light_grey;
		border-radius: 20px;
		text-decoration: none;
		color: $almost_black;
		> figure {
			width: 100%;
			position: relative;
			padding: 0 0 10px 0;
			> img {
				width: 100%;
				object-fit: cover;
				border-radius: 20px 20px 0 0;
				height: 75%;
			}
			> figcaption {
				display: flex;
				flex-direction: column;
				align-items: start;
				padding: 10px;
				position: relative;
				gap: 5px;
			}
			> h3 {
				position: absolute;
				top: 10px;
				right: 10px;
				background-color: $tertiary;
				color: $tertiary_darker;
				padding: 5px 25px;
				margin: 5px 0;
				font-size: 14px;
			}
		}
	}
}
