.main__restaurant--container {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 374px;
	flex-wrap: wrap;

	> img {
		width: 100%;
		object-fit: cover;
		z-index: 0;
	}
	> .main__restaurant--dishes--container {
		box-sizing: border-box;
		position: absolute;
		top: 210px;
		left: 0;
		width: 100%;
		z-index: 1;
		background-color: $light-grey;
		border-radius: 15px 15px 0 0;
		padding: 0 15px;
		> h2 {
			@include Shrikhand();
		}
		> section {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			gap: 10px;
			> h4 {
				display: flex;
				font-weight: 400;
				font-size: 14px;
				position: relative;
				> #entree--border {
					position: absolute;
					top: 120%;
					width: 10%;
					border: 2px solid $tertiary;
				}
				> #main--dish--border {
					position: absolute;
					top: 120%;
					width: 10%;
					border: 2px solid $tertiary;
				}
			}
			> article {
				display: flex;
				width: 100%;
				background: white;
				border-radius: 15px;
				padding: 0 25px 0 10px;
				box-sizing: border-box;
				transition: all 1s ease-in-out;
				overflow: hidden;
				&:hover {
					cursor: pointer;
				}
				&:hover > .dish--description > p {
					width: 100%;
					transition: all 0.5s ease-in-out;
				}
				&:hover > .dish--description > p > span {
					animation: spanHover 0.5s ease-out forwards;
				}
				> .dish--description {
					display: flex;
					flex-direction: column;
					width: 100%;
					> p {
						width: 280px;
						display: flex;
						justify-content: space-between;
						font-size: 14px;
						z-index: 5;
						> span {
							font-weight: 700;
							animation: spanHoverReverse 0.5s ease-out forwards;
						}
					}

					> h5,
					p {
						margin: 0;
						padding: 5px 5px;
					}
					> h5 {
						font-size: 1.1rem;
					}
				}

				> .select--box {
					display: flex;
					align-items: center;
					justify-content: center;
					margin: 0;
					padding: 0;
					width: 100px;
					border-radius: 0 15px 15px 0;
					background-color: $tertiary;
					transform: translateX(105px);
					animation: menuHoverReverse 0.5s ease-out;
					transition: transform 0.5s ease-in-out;
					z-index: 10;
				}
				&:hover > .select--box {
					display: flex;
					animation: menuHover 0.5s ease-out forwards;
					transition: transform 2000ms ease-in-out;
				}
			}
		}
	}
}
