/*menu hover animation*/

@keyframes menuHover {
	from {
		transform: translateX(105px);
	}
	to {
		transform: translateX(25px);
	}
}

@keyframes menuHoverReverse {
	from {
		transform: translateX(25px);
	}
	to {
		transform: translateX(105px);
	}
}

@keyframes spanHover {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-10px);
	}
}

@keyframes spanHoverReverse {
	from {
		transform: translateX(-10px);
	}
	to {
		transform: translateX(0);
	}
}
